<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ghost!</title>
    <link type="text/css" rel="stylesheet" href="styles/normalize.css" />
    <link type="text/css" rel="stylesheet" href="styles/style.css" />

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
</head>

<body>
    <div id="app">
        <h3>{{status}}</h3>
        <button v-on:click="reset">Reset the game</button>
        <form v-on:submit.prevent="send">
            <input v-on:keydown.delete.prevent="backspace" v-focus v-model.trim="message" placeholder="Write a letter"
                v-bind:maxlength="maxLetters">
        </form>
        <button v-if="!gameOver" v-on:click="send">Send</button>
        <ol>
            <word-list v-for="word in words" v-bind:words="word" v-bind:class="[word.isPlayer ? player : machine]">
            </word-list>
        </ol>
    </div>

    <h5 class="note">You can press enter to play the game. <i>Careful!</i> if the game is over, pressing enter reset the game.</h5>

    <script src="app.js"></script>
</body>

</html>